* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fcf5f5, #eff4fd);
}
.main-div {
  width: 28vw;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding-bottom: 37px;
  padding-top: 37px;
}
.heading {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;
}
.accordion-box {
  width: 23vw;
  display: flex;
  padding: 5px 5px;
  margin: 20px auto 0px auto;
  background: #f1f4ff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.description {
  width: 23vw;
  font-size: 13px;
  font-weight: 500;
  word-spacing: 2px;
  line-height: 1.7;
  background: #fcf5f5;
  color: rgb(40, 37, 53);
  padding: 5px 15px;
  margin-top: 2px;
  margin-left: 37px;
  border-radius: 5px;
}
.topic {
  font-size: 18px;
  font-weight: 600;
  word-spacing: 2px;
  color: rgb(40, 37, 53);
  text-transform: uppercase;
  padding: 5px 5px 5px 20px;
}
.sign {
  cursor: pointer;
  padding: 3px 3px;
  margin: 2px 5px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 1px;
  font-size: 15px;
}
